.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 20px;
}

.btn:hover{
    background-color: aliceblue;
    color:var(--primary-color) ;
}
